main {
  width: 1200px;
  margin: 0 auto;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin: 36px 10px;
  font-size: 16px;
  font-weight: bold;
}

.breadcrumb a {
  margin: 0 6px;
}

.home_icon {
  display: block;
  width: 18px;
  height: 19px;
  background: url(../images/sub_page/home_icon.jpg) no-repeat;
  text-indent: -9999px;
}

.pagenav {
  display: inline-block;
  background: url(../images/pagenav.jpg) no-repeat 0 50%;
  padding-left: 10px;
  margin-left: 5px;
}

.icon {
  display: block;
  width: 18px;
  height: 19px;
  text-indent: -9999px;
}

.icon_home {
  background: url(../images/sub_page/home_icon.jpg) no-repeat;
}

.icon_arrow_up {
  background: url(../images/arrow_open.png) no-repeat;
}

.icon_arrow_down {
  background: url(../images/arrow_close.png) no-repeat;
}

.content_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 92px;
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
}

.content_title.yellow {
  background-color: #f8f4c1;
}

.content_wrap {
  padding: 30px 0;
}

.content_wrap::after {
  display: block;
  content: ' ';
  clear: both;
}

.content_left_wrap {
  float: left;
  width: 208px;
}

.content_right_wrap {
  margin-left: 228px;
}

/* aside */
.aside_menu {
  padding: 15px 0;
  border: 1px solid #000;
}

.aside_item:hover > .aside_link ,
.aside_item.open > .aside_link {
  background: #dadada;
}

.aside_item.open [data-open="true"],
.aside_item:not(.open) [data-open="false"],
.aside_item .aside_sub_menu {
  display: none;
}

.aside_item:not(.open) [data-open="true"],
.aside_item.open [data-open="false"],
.aside_item.open .aside_sub_menu {
  display: block;
}

.aside_title {
  margin-bottom: 15px;
  text-align: center;
}

.aside_title h2 {
  border-bottom: 5px solid #ffc72c;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.aside_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.aside_sub_menu .aside_link {
  padding-left: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.notice_board_wrap {
  float: right;
  width: 948px;
  text-align: center;
  margin-right: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notice_board_wrap select {
  width: 90px;
  height: 33px;
}

.notice_board_wrap input {
  width: 290px;
  height: 33px;
  margin: 0 20px;
}

.list_search {
  width: 120px;
  height: 33px;
  background: #666;
  color: #fff;
  font-weight: bold;
}

.write_area{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
  width: 1200px;
  height: 37px;
  margin: 0 auto;
  text-align: center;
  table-layout: fixed;
  font-size: 12px;
  font-weight: bold;
  background: #e2e2e2;
}

td {
  border: 1px solid #000;
}

.notice_category {
  width: 948px;
  background: #fff;
  font-size: 14px;
  margin: 30px 0;
}

.notice_category td {
  cursor: pointer;
}

.notice_category td a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cate_all:hover,
.cate_all.active {
  background: #dadada;
}

.cate_notice:hover,
.cate_notice.active {
  background: #f8e4ab;
}

.cate_honey:hover,
.cate_honey.active {
  background: #9fb5fd;
}

.cate_golf:hover,
.cate_golf.active {
  background: #b4e6e1;
}

.cate_cruise:hover,
.cate_cruise.active {
  background: #a9cafc;
}

.cate_domest:hover,
.cate_domest.active {
  background: #ffd5ae;
}

.cate_busan:hover,
.cate_busan.active {
  background: #faa8a8;
}

.cate_air:hover,
.cate_air.active {
  background: #b8f5bf;
}

.cate_hotel:hover,
.cate_hotel.active {
  background: #efc5f8;
}

.sumcount {
  text-align: left;
  padding-left: 18px;
  margin-bottom: 6px;
}

.notice_board {
  width: 948px;
  background: #fff;
  font-size: 14px;
}

.notice_board td {
  border-left: 0;
  border-right: 0;
}

.notice_board td:nth-child(2) {
  text-align: left;
  padding: 0px 20px;
}

.col1 {
  width: 150px;
}

.col3 {
  width: 150px;
}

.notice_board_wrap tr {
  height: 47px;
}

.fix {
  display: inline-block;
  width: 50px;
  height: 20px;
  background: url(../images/notice/fix_i.png) no-repeat;
  text-indent: -9999px;
}

.firstpage {
  width: 23px;
  height: 23px;
  background: url(../images/notice/firstpage.jpg) no-repeat;
  text-indent: -9999px;
}

.prev {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../images/notice/prev.jpg) no-repeat;
  text-indent: -9999px;
}

.next {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../images/notice/next.jpg) no-repeat;
  text-indent: -9999px;
}

.lastpage {
  width: 23px;
  height: 23px;
  background: url(../images/notice/lastpage.jpg) no-repeat;
  text-indent: -9999px;
}

.notice_pagination {
  margin: 40px 0;
}

.pager {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.pager_a {
  margin: 0px 5px;
}

.pager_a.active{
  border-bottom: 1px solid #000;
}

