.compl_container {
    width: 500px;
    margin: 0 auto;
  }

.compl_title {
    font-size: 28px;
    text-align: center;
    margin: 80px auto 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.compl_title i {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../images/join_complete.png) no-repeat; 
}

.compl_subtitle{
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    font-weight: bold;
}

.id_box {
    width: 330px;
    height: 34px;
    border: 1px solid #666;    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    color: #182e9b;
    font-weight: bold;
}

.apply_wrap {
    display: inline-block;
    margin-left: 30px;
}

.apply_title {
    font-size: 16px;
    font-weight: bold;
}

.apply_check {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.apply_notice {
    font-size: 14px;
    font-weight: bold;
    color: #dd426e;
    margin-left: 24px;
}

.btn_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

#login_btn,
#home_btn {
    width: 205px;
    height: 45px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0 13px;
}

#login_btn {
    background: #ffc72c;
}

#home_btn {
    background: #e2e2e2;
}

.copy_right {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
  }