/* 메인이미지 */
.main_section {
  position: relative;
}

.bx-wrapper {
  box-shadow: none;
  border: none;
  margin-bottom: 33px;
}

#auto_controls {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control_box {
  border: 1px solid #000;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  position: relative;
  align-items: center;
  background: rgb(255 255 255 / 45%);
  justify-content: space-between;
  padding: 0 15px;
}

.bx-start {
  display: block;
  text-indent: -9999px;
  background: url(../../images/control_start.png) no-repeat;
  width: 10px;
  height: 12px;
}

.bx-stop {
  display: block;
  width: 10px;
  height: 14px;
  background: url(../../images/control_pause.png) no-repeat;
  text-indent: -9999px;
}

.bx-start,
.bx-stop {
  display: block;
}

.bx-start.active,
.bx-stop.active {
  display: none;
}

.bx-next {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../../images/control_rt.png) no-repeat;
  text-indent: -9999px;
}

.bx-prev {
  display: block;
  width: 14px;
  height: 14px;
  background: url(../../images/control_lt.png) no-repeat;
  text-indent: -9999px;
}

.main_img {
  width: 1600px;
  height: 490px;
  text-indent: -9999px;
  margin: 0px auto;
}
.main_image1 {
  background: url(../../images/main_images/main01.jpg) no-repeat;
}

.main_image2 {
  background: url(../../images/main_images/main02.jpg) no-repeat;
}

.main_image3 {
  background: url(../../images/main_images/main03.jpg) no-repeat;
}

.main_image4 {
  background: url(../../images/main_images/main04.jpg) no-repeat;
}

.main_image5 {
  background: url(../../images/main_images/main05.jpg) no-repeat;
}

.main_image6 {
  background: url(../../images/main_images/main06.jpg) no-repeat;
}

.main_image7 {
  background: url(../../images/main_images/main07.jpg) no-repeat;
}

.main_image8 {
  background: url(../../images/main_images/main08.jpg) no-repeat;
}

.main_link {
  display: block;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.main_search_wrap {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 21px;
}

.main_search {
  width: 945px;
  height: 165px;
  padding: 15px 39px;
  border: 1px solid #000;
  border-radius: 16px;
  margin: 0 auto;
  background: #fff;
}

.main_search_top {
  display: flex;
}

.main_search_title {
  font-size: 28px;
  font-weight: bold;
}

.main_search_top ul {
  display: flex;
  align-items: center;
  margin: 0 18px;
}

.main_search_top li {
  width: 57px;
  height: 28px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.main_search_top .pkg {
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
}

.main_search_top li.active {
  background-color: #ffc72c;
}

.main_search_top .hotel {
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;
}

.main_search_form {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

/* 여행지입력 */
.destination {
  width: 315px;
  height: 41px;
  border: 1px solid #666;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.destination input {
  border: 0;
  font-size: 14px;
}

.destination button {
  position: absolute;
  right: 10px;
  border: 0;
  background: inherit;
  text-decoration: underline;
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination i {
  display: inline-block;
  width: 14px;
  height: 17px;
  background: url(../../images/local_icon.jpg) no-repeat;
  text-indent: -9999px;
  margin-left: 8px;
}

/* 출발예정월 */

.departure_date_wrap {
  width: 315px;
  height: 41px;
  border: 1px solid #666;
  display: flex;
  align-items: center;
  margin: 0 24px;
  position: relative;
}

.departure_month {
  flex: 1;
}

.departure_month select {
  border: 0;
  width: 100%;
  color: #666;
  font-size: 14px;
  padding: 0 10px;
}

.departure_date {
  height: 100%;
  display: flex;
  border-left: 1px solid #666;
  flex: 1;
  align-items: center;
}

.departure_date input {
  border: 0;
  font-size: 14px;
  width: 100%;
}

.departure_date_button {
  display: flex;
  align-items: center;
}

.departure_date button {
  position: absolute;
  right: 0;
}

.departure_date i {
  display: block;
  width: 17px;
  height: 17px;
  background: url(../../images/calender_icon.jpg) no-repeat;
  text-indent: -9999px;
}

.main_search_button {
  background: #ffc72c;
  height: 42px;
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}

.recent_word {
  font-size: 12px;
}

.recent_title::after {
  content: "|";
  margin: 0 8px;
}

.recent_history {
  font-size: 12px;
  color: #2c28ac;
}
