/* 추천상품1 헤드라인 */
.recomm_tab1_wrap {
  width: 1600px;
  height: 66px;
  margin: 0 auto 33px;
  position: relative;
  display: flex;
  align-items: center;
}

.recomm_tab1_line {
  width: 1318px;
  height: 100%;
  background: #fecdd7;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 281px;
}

.recomm_tab1 {
  width: 198px;
  height: 24px;
  background: url(../../images/recomm_product/recomm1_title.png) no-repeat;
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  margin-right: 34px;
}

.recomm_subtab1 {
  display: flex;
  position: relative;
}

.recomm_subtab1 li {
  margin-left: 27px;
}

.subtab {
  display: block;
  width: 100%;
  height: 31px;
  border: 1px solid #666;
  border-radius: 25px;
  margin-right: 27px;
  font-size: 18px;
  color: #666;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.subtab.active,
.subtab:hover {
  border: 1px solid #000;
  color: #000;
}

.subtab_wrap {
  margin-left: 34px;
}

/* 추천상품1 slider */

.recomm_li_container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.recomm_list {
  padding: 0 58px 0 81px;
}

.recomm_list li {
  position: relative;
  width: 238px;
  height: 259px;
}

.recomm1.show,
.recomm2.show {
  display: block;
}

.recomm1,
.recomm2 {
  display: none;
}

.recomm1_1_1 {
  width: 238px;
  height: 259px;
  background: url(../../images/recomm_product/recomm1_1_1.jpg) no-repeat;
  text-indent: -9999px;
}

.recomm1_1_2 {
  background: url(../../images/recomm_product/recomm1_1_2.jpg) no-repeat;
}

.recomm1_1_3 {
  background: url(../../images/recomm_product/recomm1_1_3.jpg) no-repeat;
}

.recomm1_1_4 {
  background: url(../../images/recomm_product/recomm1_1_4.jpg) no-repeat;
}

.recomm1_1_5 {
  background: url(../../images/recomm_product/recomm1_1_5.jpg) no-repeat;
}

.recomm1_1_6 {
  background: url(../../images/recomm_product/recomm1_1_6.jpg) no-repeat;
}

.recomm1_1_7 {
  background: url(../../images/recomm_product/recomm1_1_7.jpg) no-repeat;
}

.recomm1_1_8 {
  background: url(../../images/recomm_product/recomm1_1_8.jpg) no-repeat;
}

.recomm1_2_1 {
  background: url(../../images/recomm_product/recomm1_2_1.jpg) no-repeat;
}

.recomm1_2_2 {
  background: url(../../images/recomm_product/recomm1_2_2.jpg) no-repeat;
}

.recomm1_2_3 {
  background: url(../../images/recomm_product/recomm1_2_3.jpg) no-repeat;
}

.recomm1_2_4 {
  background: url(../../images/recomm_product/recomm1_2_4.jpg) no-repeat;
}

.recomm1_2_5 {
  background: url(../../images/recomm_product/recomm1_2_5.jpg) no-repeat;
}

.recomm1_3_1 {
  background: url(../../images/recomm_product/recomm1_3_1.jpg) no-repeat;
}

.recomm1_3_2 {
  background: url(../../images/recomm_product/recomm1_3_2.jpg) no-repeat;
}

.recomm1_3_3 {
  background: url(../../images/recomm_product/recomm1_3_3.jpg) no-repeat;
}

.recomm1_3_4 {
  background: url(../../images/recomm_product/recomm1_3_4.jpg) no-repeat;
}

.recomm1_3_5 {
  background: url(../../images/recomm_product/recomm1_3_5.jpg) no-repeat;
}

.recomm1_3_6 {
  background: url(../../images/recomm_product/recomm1_3_6.png) no-repeat;
}

.recomm1_4_1 {
  background: url(../../images/recomm_product/recomm1_4_1.jpg) no-repeat;
}

.recomm1_4_2 {
  background: url(../../images/recomm_product/recomm1_4_2.jpg) no-repeat;
}

.recomm1_4_3 {
  background: url(../../images/recomm_product/recomm1_4_3.jpg) no-repeat;
}

.recomm1_4_4 {
  background: url(../../images/recomm_product/recomm1_4_4.jpg) no-repeat;
}

.recomm1_4_5 {
  background: url(../../images/recomm_product/recomm1_4_5.jpg) no-repeat;
}

.recomm_cont {
  width: 238px;
  height: 162px;
  position: relative;
}

.recomm_subtitle {
  width: 238px;
  height: 24px;
  background: #000;
  opacity: 0.35;
  position: absolute;
  bottom: 0;
}

.recomm_cont p {
  color: #fff;
  position: absolute;
  bottom: 0;
  padding-left: 16px;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
}

.explain {
  width: 238px;
  height: 95px;
  border: 0.5px solid #717171;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.explain span {
  margin: 0 15px;
}

.ex_pkg {
  color: #1c1c93;
}

.ex_price {
  color: #f25b5b;
  position: absolute;
  right: 0;
  bottom: 9px;
}

.slick-prev.slick-arrow {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../../images/prev.jpg) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 114px;
  left: 16px;
}

.slick-next.slick-arrow {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../../images/next.jpg) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 114px;
  right: 16px;
}

.slick-arrow.slick-disabled {
  opacity: 0.2;
}

/* 추천상품2 헤드라인*/
.recomm_tab2_wrap {
  width: 1600px;
  height: 66px;
  margin: 33px auto;
  position: relative;
  display: flex;
  align-items: center;
}

.recomm_tab2_line {
  width: 1319px;
  height: 100%;
  background: #f9c49d;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 281px;
}

.recomm_tab2 {
  width: 168px;
  height: 24px;
  background: url(../../images/recomm_product/recomm2_title.png) no-repeat;
  text-indent: -9999px;
  position: relative;
  display: inline-block;
  margin-left: 34px;
}

.recomm_subtab2 {
  display: flex;
  position: relative;
}

.recomm_subtab2 li {
  margin-right: 27px;
}

.subtab_wrap2 {
  margin-right: 34px;
}

.recomm_subtab2 a:active,
.recomm_subtab2 a:hover {
  border: 1px solid #000;
  color: #000;
}

.recomm2_1_1 {
  background: url(../../images/recomm_product/recomm2_1_1.jpg) no-repeat;
}

.recomm2_1_2 {
  background: url(../../images/recomm_product/recomm2_1_2.jpg) no-repeat;
}

.recomm2_1_3 {
  background: url(../../images/recomm_product/recomm2_1_3.jpg) no-repeat;
}

.recomm2_1_4 {
  background: url(../../images/recomm_product/recomm2_1_4.jpg) no-repeat;
}

.recomm2_1_5 {
  background: url(../../images/recomm_product/recomm2_1_5.jpg) no-repeat;
}

.recomm2_1_6 {
  background: url(../../images/recomm_product/recomm2_1_6.jpg) no-repeat;
}

.recomm2_2_1 {
  background: url(../../images/recomm_product/recomm2_2_1.jpg) no-repeat;
}

.recomm2_2_2 {
  background: url(../../images/recomm_product/recomm2_2_2.jpg) no-repeat;
}

.recomm2_2_3 {
  background: url(../../images/recomm_product/recomm2_2_3.jpg) no-repeat;
}

.recomm2_2_4 {
  background: url(../../images/recomm_product/recomm2_2_4.jpg) no-repeat;
}

.recomm2_2_5 {
  background: url(../../images/recomm_product/recomm2_2_5.jpg) no-repeat;
}

.recomm2_2_6 {
  background: url(../../images/recomm_product/recomm2_2_6.jpg) no-repeat;
}

.recomm2_2_7 {
  background: url(../../images/recomm_product/recomm2_2_7.jpg) no-repeat;
}

.recomm2_3_1 {
  background: url(../../images/recomm_product/recomm2_3_1.jpg) no-repeat;
}

.recomm2_3_2 {
  background: url(../../images/recomm_product/recomm2_3_2.jpg) no-repeat;
}

.recomm2_3_3 {
  background: url(../../images/recomm_product/recomm2_3_3.jpg) no-repeat;
}

.recomm2_3_4 {
  background: url(../../images/recomm_product/recomm2_3_4.jpg) no-repeat;
}

.recomm2_3_5 {
  background: url(../../images/recomm_product/recomm2_3_5.jpg) no-repeat;
}

.recomm2_3_6 {
  background: url(../../images/recomm_product/recomm2_3_6.jpg) no-repeat;
}

.recomm2_4_1 {
  background: url(../../images/recomm_product/recomm2_4_1.jpg) no-repeat;
}

.recomm2_4_2 {
  background: url(../../images/recomm_product/recomm2_4_2.jpg) no-repeat;
}

.recomm2_4_3 {
  background: url(../../images/recomm_product/recomm2_4_3.jpg) no-repeat;
}

.recomm2_4_4 {
  background: url(../../images/recomm_product/recomm2_4_4.jpg) no-repeat;
}

.recomm2_4_5 {
  background: url(../../images/recomm_product/recomm2_4_5.jpg) no-repeat;
}

.recomm2_prev {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../../images/prev.jpg) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 114px;
  left: 16px;
}

.recomm2_next {
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../../images/next.jpg) no-repeat;
  text-indent: -9999px;
  position: absolute;
  top: 114px;
  right: 16px;
}

