* {
    box-sizing: border-box;
}
  
body,
h3,
p,
div,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "한컴 고딕", "나눔 고딕", "맑은 고딕", "돋움";
    font-size: 14px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    margin: 0;
}

input,
select {
    outline: none;  
}

button {
    cursor: pointer;
    border: 0 none;
}

address {
    font-style: normal;
    display: inline;
}

fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
table {
    width: 1200px;
    border-collapse:collapse;
    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    margin: 0 auto;
}

th {
    background:#eee;
}

th, td{
    padding:10px;
    text-align: center;
}

form{
    width: 1200px;
    margin: 0 auto;
}

h2 {
    margin: 0;
    padding:20px 0;
    text-align: center;
}

legend{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

.button_wrap {
    text-align: center;
    margin: 20px 0;
}

.btn_1{
    border: 1px solid #d8d2d2;
    background: #d8d2d2;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 60px;
}

.btn_2{
    border: 1px solid #ffc72c;
    background: #ffc72c;
    width: 200px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-right: 60px;
}

